tensorflow==2.6.0
plotly==5.3.1
wordcloud==1.8.1
nltk==3.6.5
git+git://github.com/twintproject/twint.git@origin/master#egg=twint
matplotlib==3.4.3
transformers==4.11.3
textblob==0.15.3
streamlit==1.0.0
emoji==1.6.0
pandas==1.2.4
Pillow==8.4.0
